@import "tailwindcss";

/* Custom Heatmap Styling */
.react-calendar-heatmap rect {
  rx: 2; /* Membuat ujung kotak sedikit bulat */
  ry: 2;
}

.react-calendar-heatmap .color-empty {
  fill: #1e293b; /* Slate-800 */
}

/* Warna Level Intensitas (Hijau Modern) */
.react-calendar-heatmap .color-scale-1 { fill: #064e3b; }
.react-calendar-heatmap .color-scale-2 { fill: #059669; }
.react-calendar-heatmap .color-scale-3 { fill: #10b981; }
.react-calendar-heatmap .color-scale-4 { fill: #34d399; }
